<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.essential03">
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="essential03" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.Essential03">
        <activity android:name="com.essential.essential03.FragmentHomeHealth1Activity" android:exported="true"/>
        <activity android:name="com.essential.essential03.FragmentHomeHealth2Activity" android:exported="true"/>
        <activity android:name="com.essential.essential03.FragmentHomeHealth3Activity" android:exported="true"/>
        <activity android:name="com.essential.essential03.assignment" android:exported="true"/>
        <activity android:name="com.essential.essential03.listview" android:exported="true"/>
        <activity android:name="com.essential.essential03.english" android:exported="true"/>
        <activity android:name="com.essential.essential03.MainActivity" android:exported="true">



        </activity>
        <activity android:name="com.essential.essential03.LoginActivity" android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <activity android:name="com.essential.essential03.RegisterActivity" android:exported="true">


        </activity>
    </application>
</manifest>